.spot-detail-container{
display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            padding-right: 2%;
            width: 90%;
            max-width: 1000px;
}


.spot-img-container{
display: grid;
--gap: 16px;
--num-cols: 4;
--row-height: 300px;
box-sizing: border-box;
padding: var(--gap);
      grid-template-columns: repeat( var(--num-cols), 1fr);
      grid-auto-rows: var(--row-height) ;
      gap: var(--gap)
}

.spot-img-container > img{
width:100%;
height: 100%;
object-fit: cover;
}

/* anything smaller than 900 */
@media screen and (max-width: 900px) {
      .spot-img-container {
--gap: 16px;
      --num-cols: 2;
      --row-height: 200px;
      }
}

.preview{
grid-column: span 2;
grid-row: span 2;
}

.spot-info h2 {
      font-size: 30px;
}

.spot-info p {
      font-size: 18px;
}

.owner {
      position: relative;
      display: flex;
      font-size: 20px;
}

.spot-descript {
      display: flex;
      position: relative;
}

.booking {
      position: relative;
      width: 18%;
      box-sizing: content-box;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      font-size: 18px;
}

.RSVP-btn {
      position: relative;
      padding: 7px;
      background-color: blueviolet;
      font-weight: bold;

}

.book-price {
      position: relative;
      width: 25%;
      font-size: 20px
}

.book-review-count {
      position: relative;
      width: 25%;
}


.book-star {
      position: relative;
      width: 25%;
      color: rgb(102, 4, 102);
}
