.spot-detail-container{
      padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            padding-right: 2%;
            max-width: 1000px;
}

/* @media screen and (min-width: 900px) {

} */

.spot-container{
      display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
}

.spot-img img:first-child {
      grid-column: 1 / span 2;
            grid-row: 1 / span 2;
}

.spot-img img:not(:first-child) {
width: 100%;
      height: 100%;

}


.spot-info h2 {
      font-size: 30px;

}

.spot-info p {
      font-size: 18px;
}

.owner {
      position: relative;
      display: flex;
      font-size: 20px;
      bottom: 445px
}

.spot-descript {
      display: flex;
      position: relative;
      bottom: 315px;
}

.booking {
      position: relative;
      width: 18%;
      box-sizing: content-box;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      font-size: 18px;
      left: 1439px;
      bottom: 514px;

}

.RSVP-btn {
      position: relative;
      top: 38px;
      left: -209px;
      width: 410%;
      padding: 7px;
      background-color: blueviolet;
      font-weight: bold;

}

.book-price {
      position: relative;
      bottom: 23px;
      width: 25%;
      font-size: 20px
}

.book-review-count {
      position: relative;
      left: 140px;
      bottom: 20px;
      width: 25%;
}


.book-star {
      position: relative;
      left: 80px;
      bottom: 20px;
      width: 25%;
      color: rgb(102, 4, 102);
}
