#signup-container {
background-color: white;
      display: flex;
      /* max-height: 80vh; */
      width: 400px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: solid#6d3c7a 3px;
border-radius: 25px;
text-align: center;
overflow-y: auto;
}

h1{
     color: #FF5A5F;
     font-family: Amatic SC;
     font-size: 60px;
text-shadow: none;
margin: 40px 10px 20px 10px;
 /* border-bottom: dotted#461f51 2px; */
}
#error-container{
      width: 350px;
 margin-left:25px;
 margin-top: 0px;
margin-bottom: 30px;
 border-top: dotted#6d3c7a 2px;
 /* padding-top: 10px; */
}
.button-class-signup {
      margin: 30px 10px 20px 10px;
      height: 50px;
      width: 250px;
      font-size: 15px;
      color: white;
      background-color: #FF5A5F;
}

.button-class-signup:hover {
      background-color: #d84247;
      cursor: pointer;
}

.button-class-signup:disabled {
      background-color: #c29898;
      color:#6b5151;
}

.button-class-signup:disabled:hover {
      background-color: #a07e7e;
}
.text-field-signup {
      margin: 7px;
      height: 25px;
      width: 300px;
      font-family: Comfortaa;
}


input::placeholder {
color: #a07e7e;
background-color: #f3ecec;
/* padding: 0px 0px 0px 0px; */
/* margin: 0px; */
/* height: 25px; */
border: 1px solid #f3ecec;
}
