.review-modal-container {
  background-color: white;
  display: flex;
  max-height: 70vh;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid #461f51 3px;
  border-radius: 25px;
  text-align: center;
}
.review-modal h2 {
  font-family: amatic sc;
  font-size: 60px;
  margin: 40px 10px 30px 10px;
  /* border-bottom: dotted#6d3c7a 2px; */
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
  font-family: comfortaa;
}

.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #ff5a5f;
  transition: 0.2s ease;
}

.star-rating label:hover ~ label:before {
  content: "\2606";
  color: #ff5a5f;
  transition: 0.2s ease;
}

.star-rating label:hover {
  color: #ff5a5f;
  content: "\2605";
  transition: 0.2s ease;
}

.star-rating label:before {
  content: "\2606";
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content: "\2605";
}

.review-modal-btn {
  margin: 30px;
  height: 50px;
  width: 250px;
  font-size: 15px;
  color: white;
  background-color: #ff5a5f;
}

/* button:disabled,
button[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
} */

.review-modal-btn:disabled {
  background-color: #c29898;
  color: #6b5151;
}

.review-modal-btn:disabled:hover {
  background-color: #a07e7e;
}
