.profile-button-container {
      display: flex;
      width: 200px;
}

.profile-button {
      position: absolute;
      background: none;
            border: none;
      right: 2rem;
      top: 45px;
      font-size: 2rem;
      cursor: pointer;
      background-color: white;
}

.profile-dropdown {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 80px;
      right: 3rem;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      z-index: 5;
      text-align: center;
}

.profile-dropdown.hidden {
      display: none;
}

.current{
      margin-top: 6px;
      margin-bottom: 6px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;;
}
.button-mom{
      display: flex;
      align-items: center;
       justify-content: center;
}
.logout-button{
     margin-top:5px;
     cursor: pointer;
}
.menu-item {
     justify-content: flex-start;
}
